* {
  font-family:Arial, Helvetica, sans-serif
}

p {
  font-size: 13px;
}

.h1_logo {
    padding: 3px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background:black;
    color: white; 
    margin-bottom: 0px;
}

.p1_logo {
  padding: 6px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  background:black;
  color: rgb(176, 246, 63); 
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 6px;
}

.navbar {
  width: 100%;
  background-color: rgb(176, 246, 63);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 6px;
  font-family:Arial;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 14px;
  width:24.2%; /* Four links of equal widths */
  text-align:center;
}

.navbar a:hover {
  background-color: rgb(147, 219, 31);
}

.h1_intro {
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  margin-top: 4pc;
  margin-bottom: 0%;
}

.p2_intro {
  margin-top: 0%;
  text-align: justify;
  font-size: 17px;
}

.h5_loc {
margin-bottom: 0%;
color: rgb(124, 194, 13);
}

.p3_loc {
  margin-top: 0%;
}

ul li {
  font-size: 13px;
  font-family: Arial;
}